.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #a93737;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}